{% extends 'layout.html' %}

{% block content %}
	<div class="add-btn">
		<a href="/admin/addArticle">添加文章</a>
	</div>
    <div class="art-list mt20">
		<table class="lists layui-table" id="artList">
			<tr>
				<th>文章ID</th>
				<th>文章标题</th>
				<th>所属栏目</th>
				<th>发布时间</th>
				<th>操作</th>
			</tr>
			{% for v in artList %}<tr>
				<td>{{ v.id }}</td>
				<td>{{ v.title }}</td>
				<td>{{ v.nodeName }}</td>
				<td>{{ v.upDated }}</td>
				<td><a data-id="{{ v._id.toString() }}" class="btn-del" href="javascript:;">删除</a></td>
			</tr>
			{% endfor %}
		</table>
		{%  if pages > 1 %}
		<div class="page">
			<a href="/admin/articlelist?page={{ page-1 }}">上一页</a>
			<a href="/admin/articlelist?page={{ page+1 }}">下一页</a>
			<span>总{{ count }}条数,总{{ pages }}页数,当前{{ page }}页</span>
		</div>
		{%  endif %}
	</div>
{% endblock %}


{% block script %}
	<script type="text/javascript" src="/public/js/articlelist.js"></script>
{% endblock %}
