{% extends 'layout.html' %}

{% block content %}
    <div class="user-list">
		<table class="lists layui-table" id="userList">
			<tr>
				<th>用户ID</th>
				<th>用户名</th>
				<th>操作</th>
			</tr>
			{% for v in userList %}
			<tr>
				<td>{{ v.id }}</td>
				<td>{{ v.userName }}</td>
				<td><a data-id="{{ v._id.toString() }}" class="btn-del" href="javascript:;">删除</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}


{% block script %}
	<script type="text/javascript" src="/public/js/admin.js"></script>
{% endblock %}