{% extends 'layout.html' %}

{% block content %}
    <fieldset class="layui-elem-field layui-field-title">
  		<legend>后台首页</legend>
	</fieldset>
	<div class="admin-main">
		<div class="item">
			<fieldset class="layui-elem-field">
			  	<legend>用户数</legend>
			  	<div class="layui-field-box">
			    用户总数：{{ indexObj.userTotal }}
			  	</div>
			</fieldset>
		</div>
		<div class="item">
			<fieldset class="layui-elem-field">
			  	<legend>栏目分类</legend>
			  	<div class="layui-field-box">
			    	<ul>
			    		{% for item in indexObj.nodes %}
			    		<li><a target="_blank" href="/list/{{ item.id }}">{{ item.nodeName }}</a></li>
			    		{%  endfor %}
			    	</ul>
			  	</div>
			</fieldset>
		</div>
		<div class="item">
			<fieldset class="layui-elem-field">
			  	<legend>文章数</legend>
			  	<div class="layui-field-box">
			    	总文章数：{{ indexObj.artTotal }}
			  	</div>
			</fieldset>
		</div>
		<div class="item">
			<fieldset class="layui-elem-field">
			  	<legend>文章评论数</legend>
			  	<div class="layui-field-box">
			    	总文章评论数：{{ indexObj.commentTotal }}
			  	</div>
			</fieldset>
		</div>

	</div>


{% endblock %}
