{% extends 'layout.html' %}

{% block content %}

	<div class="add-node layui-form">
		<div class="layui-form-item">
		    <div class="layui-inline">
		      	<label class="layui-form-label">栏目名称</label>
		      	<div class="layui-input-inline">
		        	<input type="text" id="nodeName" autocomplete="off" class="layui-input">
		      	</div>
		    </div>
		    <div class="layui-inline">
		      	<label class="layui-form-label">栏目描述</label>
		      	<div class="layui-input-inline">
		        	<input type="text" id="nodeDesc" autocomplete="off" class="layui-input">
		      	</div>
		    </div>
		    <div class="layui-inline">
		      	<button type="button" id="submitNode" class="layui-btn">添加</button>
		    </div>
		</div>
	</div>
	
	<div class="user-list mt20">
		<table class="lists layui-table" id="nodeList">
			<tr>
				<th>栏目ID</th>
				<th>栏目名称</th>
				<th>栏目描述</th>
				<th>操作</th>
			</tr>
			{% for v in nodeList %}<tr>
				<td>{{ v.id }}</td>
				<td>{{ v.nodeName }}</td>
				<td>{{ v.nodeDesc }}</td>
				<td><a data-id="{{ v._id.toString() }}" class="btn-del" href="javascript:;">删除</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript" src="/public/js/nodeList.js"></script>
{% endblock %}
