@charset "utf-8";
body,button,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,textarea,ul{margin:0;padding:0;}
body,button,input,select,textarea{font-family:'microsoft yahei',simsun,sans-serif;}
button,input[type=button],input[type=submit],input[type=reset],label{-webkit-user-select:none;}
button,input,select{box-sizing:content-box;}
button{border:0;cursor:pointer;}
li{list-style:none;}
b,em,i{font-style:normal;font-weight:400}a{text-decoration:none;color:#2277da;}
img{border:0;}
.hide,.none{display:none;}
.w1000{width:1000px;margin:0 auto;}
.mt20{margin-top:20px;}
.clear,.clear-all,.clearbox{clear:both;}
.clear-all{height:0px;line-height:0px;font-size:0px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.fl{float:left;}
.fr{float:right;}

.header{background-color:#393D49;}
.header .side-title{padding:0 40px;height:60px;line-height:60px;font-size:20px;color:#fff;background-color:#3f4148;}
.main{padding:20px 0;}

