@charset "utf-8";
body,button,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,textarea,ul{margin:0;padding:0;}
body,button,input,select,textarea{font-family:'microsoft yahei',simsun,sans-serif;}
button,input[type=button],input[type=submit],input[type=reset],label{-webkit-user-select:none;}
button,input,select{box-sizing:content-box;}
button{border:0;cursor:pointer;}
li{list-style:none;}
b,em,i{font-style:normal;font-weight:400}a{text-decoration:none;color:#2277da;}
img{border:0;}
.hide,.none{display:none;}
body{font-size:16px;}
/*公用样式*/
a{color:#333;text-decoration:none;cursor:pointer;outline:none;}
a:hover{color:#2479CC;text-decoration:none;}
.clear,.clear-all,.clearbox{clear:both;}
.clear-all{height:0px;line-height:0px;font-size:0px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.fl{float:left;}
.fr{float:right;}

/*side-nav*/
.side-nav{width:250px;height:100%;position:fixed;background:#202020;overflow: auto;}
.site-name{padding:40px 0 10px 0;}
.site-name a{display: block;width:140px;margin:0 auto;}
.site-name a img{display:block;width:140px;height:140px;background:#fff;border-radius:70px;}
.site-name a span{display: block;padding: 10px 0;font-size: 18px;color: #999;text-align: center;}

.com-nav li{display:block;height:45px;line-height:45px;font-size: 16px;}
.com-nav li a{display:block;color:#999;text-align:center;}
.com-nav li a:hover{color:#fff;}
.com-nav li i{display:inline-block;width:25px;height:45px;padding-right:20px;}
.com-nav li a *{vertical-align:middle;}

.fast-tools{padding:20px 0;}
.fast-tools li{width:50%;float:left;padding:0 15px; height:40px;line-height:40px;box-sizing:border-box;}
.fast-tools li:first-child{text-align:right;}
.fast-tools li a{color:#fff;font-size:14px;}

.rester-box{padding-top:20px;color:#fff;text-align:center;line-height:25px;}
.rester-box a{color:#fff;}

.main{width:1200px;padding-left:290px;padding-right:40px;box-sizing:border-box;}

/*列表*/
.art-list{}
.art-list li{position:relative;padding:30px 0;border-bottom: 1px solid #ddd;word-wrap: break-word;}
.art-list .meta{position:absolute;right:0;font-size:14px;line-height:25px;text-align:right;color:#555;}
.art-list .comment{color: #999;}
.art-list .comment span{padding-right:5px;}
.art-list .title{font-size:2em;font-weight: 300;line-height: 35px;margin-bottom:25px;}
.art-list .source{margin:10px 0 0;padding:15px 20px;border-left:5px solid #2479CC;line-height:22px;background-color:#f8f8f8;}
.art-list .desc{padding:15px 0;line-height:28px;}
.art-list a{color: #2479CC;}

/*内容*/

.article-content{position:relative;padding:30px 0;border-bottom: 1px solid #ddd;word-wrap: break-word;}
.article-content .meta{position:absolute;right:0;top:30px;font-size:14px;line-height:25px;text-align:right;color:#555;}
.article-content .comment{color:#999;}
.article-content .comment span{padding-right:5px;}
.article-content .title{font-size:2em;font-weight: 300;line-height: 35px;margin-bottom:25px;}
.article-content .source{margin:10px 0 0;padding:15px 20px;border-left:5px solid #2479CC;line-height:22px;background-color:#f8f8f8;}
.article-content .desc{padding:15px 0;line-height:28px;}
.article-content .con{padding-top:30px;line-height:150%;font-size:16px;}
.article-content .post-info{padding-top:30px;line-height:30px;}
.article-content .post-info .notebook{color:#2479CC;}
.pagination{width:100%;line-height:20px;position:relative;border-top:1px solid #fff;border-bottom:1px solid #ddd;padding:20px 0;overflow:hidden;}
.pagination a{color:#2479CC;}
.pagination a:hover{opacity:0.8;}
.pagination a.next{float:right;}

/*comment*/
.comments{margin-top:30px;}
.comments h2.title{font-size:25px;font-weight:300;line-height:35px;margin-bottom:20px;}
.comments-input{}
.comments-input .hd{height:40px;line-height:40px;}
.comments-input .hd h3{font-size:20px;}
.comments-input .hd span{font-size: 14px;color: #666;}
.comments-input .hd span i{font-size:24px;color:#3264b4;font-family:Arial;font-style:italic;}
.comments-input .bd{border:1px solid #dee4e9;box-sizing:border-box;border-radius:3px;}
.no-login{height:40px;line-height:40px;padding:0 10px;background-color:#f7f8f9;}
.no-login p a,.comments-input .user-info p i{color:#3873d1;}
.sub-comment{display:none;width:100%;position:relative;height:155px;}
.comments-input .tie-textarea{display:block;width:100%;height:115px;line-height:20px;padding:10px 0 0 10px;font-size:16px;clear:both;text-align:left;box-sizing:border-box;border:none;outline:none;}
.comments-input .user-info{width:100%;position:absolute;height:40px;line-height:40px;padding:0 10px;bottom:1px;box-sizing:border-box;background-color:#f7f8f9;}
.comments-input .user-info p{font-size:14px;}

.comments-input .sub-btn{display:block;position:absolute;width:120px;height:40px;right:0;bottom:0px;}
.comments-input .sub-btn input{width:100%;height:40px;background-color:#3873d1;color:#fff;font-size:14px;border:none;border-radius:0 0 3px 0;cursor:pointer;}
.comments-input .sub-btn input:hover{opacity:0.8;}


.comments-list{padding-top:20px;}

.comments-list li{padding: 20px 10px;border-bottom:1px #d3d3d3 solid;}
.comments-list li:hover{background-color:#f9fafa;}
.comments-list .avatar{widows:39px;}
.comments-list .avatar img{display:block;width:39px;height:39px;border-radius:50%;}
.comments-list .comment-com{padding-left:50px;position:relative;}
.comments-list .comment-com .user{font-size:14px;color:#3873d1;}
.comments-list .comment-com .time{position:absolute;right:10px;top:0;font-size:12px;color:#c9c9c9;}
.comments-list .comment-com p.con{line-height:24px;padding:10px 0 30px 0;word-wrap: break-word;}

body .yourclass{width:420px; min-height:230px; box-shadow: none;}
body .yourclass .layui-layer-content{padding-bottom:10px;}
body .yourclass .layui-form-label{width:80px;}
.yourclass .layui-form-tit{height:40px;line-height:40px;padding:0 20px;margin-bottom:20px;font-size:16px;border-bottom:1px solid #ddd;background-color:#eee;}
.yourclass .register a{padding-left:50px;}