{% extends './layout.html' %}
{% block content %}
<div class="contene">
	<!-- 文章详情 -->
	<div class="article-content">
		<h1 class="title">{{ content.title }}</h1>
		<!-- <div class="info">
			作者：{{ content.author }}
			来源：{{ content.source }}
			发布时间：{{ content.upDated }}
			所属分类：{{ nodeName }}
		</div> -->
		<div class="meta">
			<div class="other">
				<span class="author">{{ content.author }}</span>
				发布于
				<span class="author">{{ content.updated }}</span>
			</div>
			<div class="comment">
				<span class="number">{{ commentList.length }}</span>comments
			</div>
		</div>
		<div class="source">来源：<a class="detail" href="javascript:;">{{ content.source }}</a></div>
		<div class="con">
			{% autoescape false %}
			    {{ content.content }}
			{% endautoescape %}
		</div>
		<div class="post-info">
            作者 <code class="notebook">{{ content.author }}</code> 发表于<i> {{ content.updated2 }}</i>
        </div>
	</div>
	<nav class="pagination" style="display: none;">
    	<a href="#" class="prev">« 上一篇</a>
    	<a href="#" class="next">下一篇 »</a>
	</nav>
	<!-- 评论 -->
	<div class="comments">
		<h2 class="title">Comments</h2>
		<div class="comments-input">
			<div class="hd">
				<span class="comments-num fr"><i id="commNun">{{ commentList.length }}</i> 人参与</span>
				<h3 class="title">发布评论</h3>
			</div>
			<div class="bd">
				<div class="no-login" {% if (userInfo) %} style="display: none;" {% endif %}>
					<p class="af-login">你还没有登录：<a href="javascript:;" class="loginBtn">请点击登录</a></p>
				</div>
				<div class="sub-comment" {% if (userInfo) %} style="display: block;" {% endif %}>
					<textarea class="tie-textarea" id="commentCon" data-aId="{{content.id}}" data-aTitle="{{content.title}}" data-uName="{{userInfo.userName}}" data-uId="{{userInfo.id}}" placeholder="请输出内容"></textarea>
					<div class="user-info">						
						<p class="be-login">你好：<i id="deUserName">{{userInfo.userName}}</i></p>						
					</div>
					<label class="sub-btn"><input type="button" id="submitBtn" value="提交" /></label>
				</div>
			</div>
		</div>
		
	</div>
	<!-- 评论列表 -->
	<div class="comments-list">
		<ul class="lists" id="commentList">
			{% for item in commentList %}
			<li class="clearfix">
				<div class="avatar fl">
					<img src="/public/images/avatar.jpg" />
				</div>
				<div class="comment-com">
					<span class="user">{{ item.userName }}</span>
					<span class="time">时间：{{ item.updated }}</span>
					<p class="con">{{ item.content }}</p>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/public/js/detail.js"></script>
{% endblock %}