{% extends './layout.html' %}
{% block content %}
<div class="contene">
	<!-- 列表 -->
	<ul class="art-list">
		{% for item in artList %}
		<li>
			<div class="meta">
				<div class="other">
					<span class="author">{{ item.author }}</span>
					发布于
					<span class="author">{{ item.upDated }}</span>
				</div>
				<div class="comment">
					<span class="number">{{ item.commentCount }}</span>comments
				</div>
			</div>
			<h2 class="title"><a href="/detail/{{ item.id }}">{{ item.title }}</a></h2>
			<p class="source">来源：<a class="detail" href="javascript:;">{{ item.source }}</a></p>
			<p class="desc">{{ item.desc }}</p>
			<a class="detail" href="/detail/{{ item.id }}">阅读全文 »</a>
		</li>
		{% endfor %}

	</ul>
	{%  if pages > 1 %}
	<div class="page">
		<a href="/?page={{ page-1 }}">上一页</a>
		<a href="/?page={{ page+1 }}">下一页</a>
		<span>总{{ count }}条数,总{{ pages }}页数,当前{{ page }}页</span>
	</div>
	{%  endif %}
</div>
{% endblock %}

{% block script %}
	
{% endblock %}