{% extends '../layout.html' %}

{% block content %}
	<fieldset class="layui-elem-field layui-field-title">
  		<legend>评论列表</legend>
	</fieldset>
    <div class="art-list mt20">
		<table class="lists layui-table" id="commList">
			<tr>
				<th>评论ID</th>
				<th>评论人</th>
				<th>文章标题</th>
				<th>评论时间</th>
				<th>操作</th>
			</tr>
			{% for v in CommentList %}
			<tr>
				<td>{{ v.id }}</td>
				<td>{{ v.userId.userName }}</td>
				<td>{{ v.articleId.title }}</td>
				<td>{{ v.updated }}</td>
				<td><a data-id="{{ v.id }}" class="btn-del" href="javascript:;">删除</a></td>
			</tr>
			{% endfor %}
		</table>
		{%  if pages > 1 %}
		<div class="page">
			<a href="/admin/articlelist?page={{ page-1 }}">上一页</a>
			<a href="/admin/articlelist?page={{ page+1 }}">下一页</a>
			<span>总{{ count }}条数,总{{ pages }}页数,当前{{ page }}页</span>
		</div>
		{%  endif %}
	</div>
{% endblock %}


{% block script %}
	<script type="text/javascript" src="/public/js/commentList.js"></script>
{% endblock %}